

  // .App {

  // }

.products-container {
  max-width: 900px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.card-deck .card {
  margin-bottom: 15px;
  margin-top: 15px;
}

.navbar-buttons {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

@import "~bootstrap/scss/bootstrap";
