

  // .App {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  // }

.products-container {
  max-width: 960px;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
  margin-top: 15px;
}

.card-deck {
  margin: 15px !important;
  justify-content: center;
}

.card-footer .input-group {
  margin-right: 20px;
  max-width: 120px;
}

.btn-toolbar {
  justify-content: center !important;
}

.navbar-buttons {
  // width: 160px;
  display: flex;
  justify-content: space-between;
}


.banner-container {
  max-width: 900px;

}

.navbar {
  margin: 0 auto;
  // max-width: 900px !important;
}

.nav-span{
  max-width: 900px;
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.bi-bag {
  margin-bottom: 5px;
}

.cart-li {
  display: flex !important;
  justify-content: space-between;
}

.cart-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .input-group {
    width: 120px;
  }

}

.final-cart {
  max-width: 930px !important;
}

.col {
  text-align: center;
}

@import "~bootstrap/scss/bootstrap";
