

// .App {

// }

.products-container {
  max-width: 900px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.card-deck .card {
  margin-bottom: 15px;
  margin-top: 15px;
}


@import "~bootstrap/scss/bootstrap";
